<h2>Регистрация</h2>
<p>
<% if @user.errors.any? %>
  <%= pluralize(@user.errors.count, 'error')%>: 
    <% @user.errors.full_messages.each do |ms| %>
      <%= ms %>
    <% end %>
  <% end %>
</p>
<%= form_for @user do |u| %>
  <p>
    <%= u.label 'Email' %><br>
    <%= u.text_field :email %>
  </p>
 
  <p>
    <%= u.label 'Имя' %><br>
    <%= u.text_field :first_name %>
  </p>

  <p>
    <%= u.label 'Фамилия' %><br>
    <%= u.text_field :last_name %>
  </p>
  
  <p>
    <%= u.label 'Пароль' %><br>
    <%= u.password_field :password %>
  </p>

  <p>
    <%= u.label 'Подтверждение пароля' %><br>
    <%= u.password_field :password_confirmation %>
  </p>
 
  <p><%= u.submit 'Зарегестрироваться' %></p>
<% end %>