<h2>Регистрация</h2>
<div >
<% if @user.errors.any? %>
  <%= pluralize(@user.errors.count, 'error')%>: 
    <% @user.errors.full_messages.each do |ms| %>
      <%= ms %>
    <% end %>
  <% end %>
  </div>
<div class="form-group">
  <%= form_for @user do |u| %>
    <div class="form-group" style="width: 50%">
      <%= u.label 'Email' %><br>
      <%= u.text_field :email, class: 'form-control' %>
    </div>
   
    <div class="form-group" style="width: 50%">
      <%= u.label 'Имя' %><br>
      <%= u.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group" style="width: 50%">
      <%= u.label 'Фамилия' %><br>
      <%= u.text_field :last_name, class: 'form-control' %>
    </div>
    
    <div class="form-group" style="width: 50%">
      <%= u.label 'Пароль' %><br>
      <%= u.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group" style="width: 50%">
      <%= u.label 'Подтверждение пароля' %><br>
      <%= u.password_field :password_confirmation, class: 'form-control' %>
    </div>
 
    <p><%= u.submit 'Зарегестрироваться', class: 'btn btn-success' %></p>
  <% end %>
</div>