<h2>Последние петиции</h2>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-6">Петиция</th>
      <th class="col-md-3">Автор</th>
      <th class="col-md-1 text-center">Голоса</th>
      <th class="col-md-3 text-center">Дата создания</th>
    </tr>
  </thead>
  <% @petitions.each do |petition| %>
    <tr>
      <td class="col-md-5"><%= link_to petition.title, petition_path(petition) %></td>
      <td class="col-md-3"><%= petition.user.first_name %> <%= petition.user.last_name %></td>
      <td class="col-md-1 text-center"><%= petition.votes.count %></td>
      <td class="col-md-3 text-center"><%= petition.created_at_new %></td>
    </tr>
  <% end %>
</table>