<!DOCTYPE html>
<html>
<head>
  <title>Онлайн петиции нашего района</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Онлайн петиции нашего района</a>
      <div class="pull-right" style="margin: 10px">
        <span >
          <% if current_user %>
            <%= current_user.email %> 
            (<%= link_to 'Выйти', logout_path %>)
          <% else %>
            <%= link_to 'Зарегестрироваться', signup_path %> | <%= link_to 'Войти', login_path %>
          <% end %>
        </span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <%= bootstrap_flash %>

<%= yield %>

      </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list la">
              <li><h4><%= link_to "Все петиции", petitions_path  %></h4></li>
              <li><h4><%= link_to "Создать петицию", new_petition_path  %></h4></li>
              <% if current_user %>
                <li><h4><%= link_to "Мои петиции", petitions_path(my: true)  %></h4></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->
      <footer>
        <p>&copy; OnlinePetitions 2016</p>
      </footer>
    </div>
</body>
</html>
